.menuItem {
  --teal-400: #2dd4bf;
  --gray-800: #1f2937;
}

.menuItem:hover {
  text-transform: uppercase;
}

/* menu items underline effect on desktop view */
@media (min-width: 1281px) {
  .menuItem:hover {
    position: relative;
    text-shadow: 0.5px 0 var(--teal-400);
  }

  .menuItem::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4.5px;
    background-color: var(--teal-400);
    opacity: 0.4;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in;
  }

  .menuItem:hover::before {
    transform: scaleX(1);
  }
}

/* menu items on mobile view */
@media (max-width: 1280px) {
  .menuItem {
    width: 100%;
    text-align: center;
  }

  .menuItem:hover {
    padding-left: 20px;
    transition: padding-left 0.3s ease-in;
    text-shadow: 1.2px 0 var(--teal-400);
  }

  .menuOpen {
    transform: translateX(0) !important;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in, font-weight 0.3s ease-in, line-height 0.3s ease-in;
    color: #fafafa;
    font-size: xx-large;
    line-height: 4.5;
    font-weight: bold;
    background-color: #0f766e; /* teal-700 */
    opacity: 0.95;
  }

  .menuClose {
    transform: translateX(100%) !important;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out, font-size 0.3s ease-in, font-weight 0.3s ease-in, line-height 0.3s ease-in;
    font-size: x-large;
    line-height: 2.5;
    font-weight: normal;
    background-color: #99f6e4; /* teal-200 */
  }

  /* hamburger */
  .hamburger {
    --front: #2dd4bf; /* teal-400 */
    --back: #1f2937; /* gray-800 */
    --icon: #fafafa; 
    perspective: 600px;
    width: 52px;
    height: 52px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
  }

  .hamburger:hover {
    --front: #1e293b;
    --back: #2dd4bf;
  }

  .hamburger input {
    display: none;
  }

  .hamburger input+div span {
    --rotateY: 0deg;
    --background: var(--front);
    opacity: 0.8;
    transform: rotateY(var(--rotateY));
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--background);
    backface-visibility: hidden;
    transition: transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24);
  }

  .hamburger input+div span:before,
  .hamburger input+div span:after {
    --rotate: 0deg;
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    top: 50%;
    left: 50%;
    background: var(--icon);
    backface-visibility: hidden;
    transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
  }

  .hamburger input+div span:first-child {
    --background: var(--back);
  }

  .hamburger input+div span:first-child:before {
    --rotate: -45deg;
  }

  .hamburger input+div span:first-child:after {
    --rotate: 45deg;
  }

  .hamburger input+div span:last-child {
    --rotateY: 540deg;
  }

  .hamburger input+div span:last-child:before {
    box-shadow: 0 -5px 0 var(--icon), 0 5px 0 var(--icon);
  }

  .hamburger input+div span:last-child:after {
    display: none;
  }

  .hamburger input:checked+div span:first-child {
    --rotateY: -540deg;
  }

  .hamburger input:checked+div span:last-child {
    --rotateY: 0deg;
  }
}
